@media only screen and (min-width: 480px){
html {
  font-family: "Lato";
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 64px;
}
.logo {
  height: 32px;
  margin-left: 24px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}
.logo-mobile{
  display: none;
}
.logo .academy {
  color: gray;
}
nav .menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  margin-right: 24px;
}
.menu .bar {
  width: 16px;
  height: 100%;
  background-color: hsla(171, 74%, 65%, 1);
}
.menu a {
  color: black;
  text-decoration: none;
}
.banner {
  width: 100%;
  background-color: hsla(355, 0%, 75%, 1);
  display: flex;
  align-items: center;
}
.banner img {
  margin: 32px 24px;
  width: 60%;
  height: 800px;
}
.learn {
  height: 400px;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.learn h1, p{
  color: hsla(355, 0%, 12%, 1);
}
.learn h1 {
font-size: 60px;
font-weight: 900;
}
.learn p {
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.learn .btn {
  height: 50px;
  width: 70%;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: hsla(355, 0%, 19%, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.learn .btn a{
  text-decoration: none;
  color: white;
}
.section{
  width: 100%;
  display: flex;
}
.left {
  padding: 32px 24px;
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
}
.left h1 {
  margin-top: 32px;
  margin-bottom: 24px;
  font-size: 60px;
  font-weight: 900;
}
.left h2, h3 {
  font-size: 20px;
  margin-bottom: 32px;
}
.right {
  width: 40%;
  display: flex;
  flex-direction: column;
  border-left: 2px solid lightgray;
}
.container{
  display: flex;
  align-items: center;
  border: 2px solid lightgray;
}
.container img {
  width: 35%;
  height: auto;
  margin: 16px 16px;
}
.container .text {
  display: flex;
  flex-direction: column;
  width: 65%;
  margin-left: 16px;
}
.text h1{
  margin-bottom: 8px;
  font-size: 25px;
  font-weight: bold;
}
.text p{
  margin-bottom: 8px;
  font-size: 16px;
}
.text a {
  text-decoration: none;
  color: hsla(224, 73%, 58%, 1);
}
.header {
  width: 100%;
  text-align: center;
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: hsla(355, 0%, 75%, 1);
  font-size: 40px;
  font-weight: bold;
}
.courses {
  padding-bottom: 16px;
  width: 100%;
  background-color: hsla(355, 0%, 75%, 1);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 32px 72px;
}
.course {
  width: 30%;
  margin: 16px 16px;
  display: flex;
  flex-direction: column;
  background-color: white;
}
.course img {
  height: auto;
}
.content {
  margin-left: 16px;
  margin-right: 32px;
  padding-top: 16px;
  padding-bottom: 24px;
}
.content h1 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 8px;
}
.content h2 {
  font-size: 25px;
  margin-bottom: 8px;
}
.content p {
  font-size: 20px;
}
.header1 {
  width: 100%;
  text-align: center;
  margin-top: 32px;
  margin-bottom: 32px;
  font-size: 40px;
  font-weight: bold;
}
.thesis {
  display: flex;
  width: 100%;
}
footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
footer .reserve {
  margin-left: 24px;
  margin-top: 16px;
  margin-bottom: 48px;
}
footer .reserve {
  margin-top: 16px;
  margin-bottom: 48px;
  margin-right: 24px;
}
}
@media only screen and (max-width: 480px) {
body {
  font-family: "Lato";
}
  .menu {
    display: none;
  }
  .logo img {
    display: none;
  }
  .logo h2 {
    display: none;
  }
  nav {
    height: 64px;
  }
  .logo-mobile {
    padding-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .banner {
    width: 100%;
    background-color: hsla(355, 0%, 75%, 1);
    display: flex;
    flex-direction: column;
  }
  .banner img {
    width: 100%;
    height: 250px;
  }
  .learn {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
  }
  .learn h1, p{
    color: hsla(355, 0%, 12%, 1);
  }
  .learn h1 {
  margin: 32px 16px;
  font-size: 35px;
  font-weight: 900;
  }
  .learn p {
    font-size: 20px;
    margin-left: 16px;
    margin-bottom: 24px;
  }
  .learn .btn {
    height: 50px;
    width: 70%;
    margin-left: 16px;
    margin-bottom: 32px;
    background-color: hsla(355, 0%, 19%, 1);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .learn .btn a{
    text-decoration: none;
    color: white;
  }
  .section{
    width: 100%;
    display: flex;
  }
  .section .left {
    display: none;
  }
  .section .right {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-left: 2px solid lightgray;
  }
  .section .container{
    display: flex;
    flex-direction: column;
  }
  .section .container img {
    width: 100%;
    height: 200px;
    margin: 16px 16px;
  }
  .section .container .text {
    display: flex;
    flex-direction: column;
    width: 65%;
    margin-left: 16px;
  }
  .section .text h1{
    margin-bottom: 8px;
    font-size: 25px;
    font-weight: bold;
  }
  .section .text p{
    margin-bottom: 8px;
    font-size: 16px;
  }
  .section .text a {
    margin-bottom: 64px;
    text-decoration: none;
    color: hsla(224, 73%, 58%, 1);
  }
  .header {
    width: 100%;
    text-align: center;
    padding-bottom: 32px;
    font-size: 40px;
    font-weight: bold;
  }
  .courses {
    padding-bottom: 16px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .course {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .course img {
    display: none;
  }
  .content {
    margin: 16px 16px;
    height: 70px;
    background-color: hsla(355, 0%, 75%, 1);
  }
  .content h1 {
    margin: 16px 16px;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 8px;
  }
  .content h2 {
    display: none;
  }
  .content p {
    display: none;
  }
  .header1 {
    width: 100%;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 32px;
    font-size: 40px;
    font-weight: bold;
}
.thesis .left video {
  margin-bottom: 8px;
}
.thesis .right {
  display: none;
}
.thesis .left h1,
.thesis .left h2 {
  display: none;
}
.header1 {
  width: 100%;
  text-align: center;
  margin-top: 32px;
  margin-bottom: 32px;
  font-size: 40px;
  font-weight: bold;
}
footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
footer .reserve {
  margin: 24px 16px;
}
footer .contact {
  display: none;
}
}
